.name {
    font-size: 50px;
    font-family: 'Merriweather';
    text-align: center;
    line-height: 10px;
}

.tagline {
    font-size: 25px;
    font-family: 'Source Code Pro';
    text-align: center;
}

.links {
    margin-top: 100px;
    text-align: center;
}

i {
    font-size: 2em;
    margin: 0 10px;
    display: inline-block;
    text-align: center;
}

i::before{
    content: none;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

a:hover {
    opacity: 0.75;
}

html {
    margin-top: 100px;
    background: linear-gradient(270deg, #f6eef6, #df80ff, #ffb3ff, #bf80ff, #f2ccff, #ecb3ff);
    background-size: 1000% 1000%;
    -webkit-animation: bgani 40s ease infinite;
    -moz-animation: bgani 40s ease infinite;
    animation: bgani 40s ease infinite;
}

@-webkit-keyframes bgani {
    0%{background-position:23% 0%}
    50%{background-position:78% 100%}
    100%{background-position:23% 0%}
}
@-moz-keyframes bgani {
    0%{background-position:23% 0%}
    50%{background-position:78% 100%}
    100%{background-position:23% 0%}
}
@keyframes bgani {
    0%{background-position:23% 0%}
    50%{background-position:78% 100%}
    100%{background-position:23% 0%}
}
