.name {
    text-shadow: 1px 1px white;
    font-size: 40px;
    font-family: 'Merriweather';
    line-height: 10px;
}

.tagline {
    font-size: 25px;
    font-family: 'Source Code Pro';
}

.info{
    margin-top: 150px;
    font-size: 18px;
    font-family: 'Merriweather Sans';
}

.links {
    margin-top: 250px;
    margin-bottom: 50px;
}

.links i{
    padding: 10px;
    display: inline-block;
    font-size: 40px;
}

i::before{
    content: none;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: white;
}

html {
    text-align: center;
    margin-top: 100px;
    background: rgba(90, 80, 255, 0.8);
}
